.tab-content{
    background-color: #0c0c0c;
    z-index: 10;

}
.img-gallery{
    width: 100%;
    overflow: hidden;
    height: 10%;
}
#tab-1 h1{
    font-size: 60px;
    text-transform: uppercase;
}

